*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #f3f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
}

main{
    width: 100%;
}

nav{
    background-color: #036;
    color: #fff;
    position: fixed;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}

nav a{
    display: block;
    padding: 15px;
    text-align: center;
    color: white;
}

.menu-button{
    background-color: #036;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.menu-button:hover{
    background-color: #036;
}

article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header{
    background-color: #036;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1{
    text-align: center;
    width: 100%;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-image: url(imagens/fundo\ site.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.duo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin: 25px;
    background-color: #036;
    width: 400px;
    flex-wrap: wrap;
    height: 400px;
}

label{
    margin: 10px;
    color: #fff;
    width: 100%;
}

p{
    margin-top: 10px;
    text-align:center ;
    color: #fff;
    width: 100%;
}

footer{
    text-align: center;
    background-color: #036;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.resumo{
    color: black;
}

